## Load the dataset

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.discriminant_analysis import StandardScaler




a1_synthetic_path = '../Data/A1-synthetic.txt'
a1_synthetic_data = pd.read_csv(a1_synthetic_path, sep="\t") 

# display the first few rows of the dataset
print("First few rows of the dataset:")
display(a1_synthetic_data.head())

# display dataset shape and column names
print(f"Dataset shape: {a1_synthetic_data.shape}")
print(f"Column names: {a1_synthetic_data.columns.tolist()}")

First few rows of the dataset:

,#v1,v2,v3,v4,v5,v6,v7,v8,v9,z
0,37.344110,10.542156,0.969185,3.568534,96.798733,3.429026,75.810196,0,20.002459,11.805369
1,4.089849,11.894301,0.467775,1.279044,100.149383,3.190073,76.423095,0,12.702628,5.125025
2,-32.333439,10.968631,0.238486,1.410745,100.642075,3.093934,78.758727,1,10.723848,3.218553
3,-45.632977,11.509606,0.924938,3.404069,105.963016,2.884269,83.027750,0,19.946593,12.955092
4,-41.543394,10.117186,0.315180,1.020120,97.371423,2.815820,77.194463,0,11.105024,1.919094

Dataset shape: (1000, 10)
Column names: ['#v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'z']

## Normalize the data

In [15]:
# initializing the StandardScaler for the synthetic data
scaler_synthetic = StandardScaler()

# fitting the scaler to the synthetic data and transforming it
normalized_synthetic_data = scaler_synthetic.fit_transform(a1_synthetic_data)

# converting the normalized data back to a DataFrame for easier interpretation
normalized_synthetic_df = pd.DataFrame(normalized_synthetic_data, columns=a1_synthetic_data.columns)

# displaying the first few rows of the normalized synthetic data
normalized_synthetic_df.head()

,#v1,v2,v3,v4,v5,v6,v7,v8,v9,z
0,1.280663,-0.793451,1.616521,1.004039,-0.676741,2.553385,-0.466353,-0.674985,1.886479,1.416377
1,0.109896,1.522669,-0.154310,-0.992534,0.008298,1.684637,-0.344116,-0.674985,-0.358487,-0.323709
2,-1.172442,-0.062932,-0.964088,-0.877683,0.109029,1.335112,0.121703,1.481516,-0.967034,-0.820304
3,-1.640673,0.863717,1.460254,0.860615,1.196895,0.572846,0.973119,-0.674985,1.869298,1.715855
4,-1.496693,-1.521392,-0.693229,-1.218331,-0.559655,0.323990,-0.190274,-0.674985,-0.849809,-1.158785

## Save the normalized data

In [16]:
# save the normalized dataset to a new CSV file
normalized_synthetic_df.to_csv('A1-synthetic-normalized.csv', index=False, sep='\t')
print("Normalized dataset saved as 'A1-synthetic-normalized.csv'.")

Normalized dataset saved as 'A1-synthetic-normalized.csv'.